body {
  margin: 0;
  padding: 0;
  padding-right: 30px;
}


#map {
  height: 100%;
}


.sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
}


.wind {
  position: absolute;
  bottom: 50px;
  left: 30px;
  height: 110px;
  width: 110px;
}
.wind > .compass {
  position: absolute;
  width: 100%;
}
.wind > .compass-arrow {
  position: absolute;
  height: 64px;
  width: 14px;
  bottom: 23px;
  left: 49px;
  z-index:1001;
  -webkit-transform-origin: center center;
  display: none;
}


#wave-gauge {
  position: absolute;
  bottom: 50px;
  right: 30px;
  height: 90px;
  width: 90px;
}

.h4 {
  margin-top: 40px;
}

.h5 {
  margin-top: 20px;
}


.ui-autocomplete {
  position: absolute;
  padding: 0;

  z-index: 1000;
  float: left;
  display: none;

  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;

  border-radius: 5px;
  overflow: hidden;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-menu-item {
  padding: 3px 5px;
}

.ui-menu-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #08c;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
